///////////////////  LOGO
.logo{
    height: 3rem;
}


//////////////////  SEARCH
.search{
    &_input{

    }

    &__button{

    }

    &__icon{
        
    }
}

.user-nav{
    &__icon-box{
        height: 2rem;
        width: 2rem;
    }

    &__notification{

    }

    &__user{

    }

    &__user-photo{
        height: 3rem;
        border-radius: 50%;
    }

    &__user-name{

    }
}


/////////////////// USER NAVIGATION